<div class="d-flex justify-content-center">
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" id="packs" href="/submit/pack">Packs</a>
      <a class="nav-link" id="samples" href="/submit/sample">Samples</a>
      <a class="nav-link" id="loops" href="/submit/loop">Loops</a>
      <a class="nav-link" id="midi" href="/submit/midi">MIDI</a>
      <a class="nav-link" id="multitracks" href="/submit/multitrack">Multitracks</a>
      <a class="nav-link" id="presets" href="/submit/preset">Presets</a>
      <a class="nav-link" id="plugins" href="/submit/plugin">Plugins</a>
    </nav>
  </div>