<!-- SAMPLER -->

<ul class="nav nav-pills nav-fill filterbar">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">BPM</a>
      <div class="dropdown-menu animate slideIn">
          <div class="dropdown-item slider">
              <div id="slider"></div>
          </div>
      </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Key</a>
        <div class="dropdown-menu animate slideIn">
            <a class="dropdown-item">None</a>
            <a class="dropdown-item">C Major</a>
            <a class="dropdown-item">C#/Db Major</a>
            <a class="dropdown-item">D Major</a>
            <a class="dropdown-item">D#/Eb Major</a>
            <a class="dropdown-item">E Major</a>
            <a class="dropdown-item">F Major</a>
            <a class="dropdown-item">F#/Gb Major</a>
            <a class="dropdown-item">G Major</a>
            <a class="dropdown-item">G#/Ab Major</a>
            <a class="dropdown-item">A Major</a>
            <a class="dropdown-item">A#/Bb Major</a>
            <a class="dropdown-item">B Major</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">C Minor</a>
            <a class="dropdown-item">C#/Db Minor</a>
            <a class="dropdown-item">D Minor</a>
            <a class="dropdown-item">D#/Eb Minor</a>
            <a class="dropdown-item">E Minor</a>
            <a class="dropdown-item">F Minor</a>
            <a class="dropdown-item">F#/Gb Minor</a>
            <a class="dropdown-item">G Minor</a>
            <a class="dropdown-item">G#/Ab Minor</a>
            <a class="dropdown-item">A Minor</a>
            <a class="dropdown-item">A#/Bb Minor</a>
            <a class="dropdown-item">B Minor</a>
        </div>
    </li>
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Instrument</a>
        <div class="dropdown-menu animate slideIn">
          <a class="dropdown-item" >Drums</a>
          <a class="dropdown-item" >Piano</a>
          <a class="dropdown-item" >Guitar</a>
          <a class="dropdown-item" >Vocals</a>
          <a class="dropdown-item" >Synths</a>
          <a class="dropdown-item" >Percussion</a>
          <a class="dropdown-item" >FX</a>
          <a class="dropdown-item" >Misc</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Genre</a>
        <div class="dropdown-menu animate slideIn">
          <a class="dropdown-item" >Pop</a>
          <a class="dropdown-item" >Rock</a>
          <a class="dropdown-item" >Hip-Hop</a>
          <a class="dropdown-item" >EDM</a>
          <a class="dropdown-item" >House</a>
          <a class="dropdown-item" >Trap</a>
          <a class="dropdown-item" >Metal</a>
          <a class="dropdown-item" >Alternative</a>
        </div>
    </li>
    <li class="nav-item">
        <input class="form-control" type="text" placeholder="Tags">
    </li>
    <li class="nav-item">
        <button type="submit" class="btn btn-outline-light" >Search</button>
    </li>
    
  </ul>

<table class="table table-dark sampler">
    <thead>
    <tr>
        <th scope="col" class="playbutcol"></th>
        <th scope="col" class="artcol">Pack</th>
        <th scope="col" class="namecol">Name</th>
        <th scope="col" class="waveformcol"></th>
        <th scope="col" class="tagcol">Tags</th>
        <th scope="col" class="keycol">Key</th>
        <th scope="col" class="bpmcol">BPM</th>
        <th scope="col" class="actioncol"></th>
    </tr>
    </thead>
    <tbody id="samplerload">

    
    </tbody>
</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.min.css" />
<script src="../assets/dist/js/noiuslider.js"></script>

<script>

    var slider = document.getElementById('slider');

        noUiSlider.create(slider, {
            start: [60, 200],
            connect: true,
            range: {
                'min': 0,
                'max': 200
            }
        });
</script>