<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create - Music App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/create.css">
    <script src="https://kit.fontawesome.com/023edff769.js" crossorigin="anonymous"></script></head>

    <script src="https://unpkg.com/wavesurfer.js"></script>
    
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/pictures/circle-logo.png" alt="" width="72" height="72">
        <h2>Submit Your Work</h2>
        <p class="lead">This is the time to share your work! If you have samples, loops, or projects you have created that you want to share, please use the form below to submit your own work!</p>
		  <p>
			  Submissions will be screened before being posted. Please remember to adhere to the Community Guidelines. Submissions innappropriate to the use of this site will not be approved, and innapropriate use of this form and site will result in termination of your account.
		  </p>
      </div>
	
	<div class="d-flex justify-content-center">
		<nav aria-label="...">
		  <ul class="pagination pagination-lg">
			<li class="page-item active" aria-current="page">
      			<a class="page-link" href="sample">Sample<span class="sr-only">(current)</span></a>
    		</li>
			<li class="page-item"><a class="page-link" href="loop">Loop</a></li>
			<li class="page-item"><a class="page-link" href="multitrack">Multitrack</a></li>
			<li class="page-item"><a class="page-link" href="midi" disabled>MIDI</a></li>
			<li class="page-item"><a class="page-link" href="preset" disabled>Preset</a></li>
			<li class="page-item"><a class="page-link" href="plugin" disabled>Plugin</a></li>
			<li class="page-item"><a class="page-link" href="pack" disabled>Pack</a></li>
		  </ul>
		</nav>
	</div>
		
      <div class="row">

        <div class="col-md-12 order-md-1">
          <h4 class="mb-3">Sample Info</h4>
          <form method="POST" action="/submit/sample" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="samplename">Sample Name</label>
                <input type="text" class="form-control" id="samplename" name="name" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid sample name is required.
                </div>
              </div>
            </div>
			<div class="row">
				<div class="col-md-5 mb-3">
                <label for="key">Key</label>
                <select class="custom-select d-block w-100" id="key" name="key" required>
                  	<option value="">Choose...</option>
					<option>None</option>
                  	<option>C Major</option>
					<option>C#/Db Major</option>
					<option>D Major</option>
					<option>D#/Eb Major</option>
					<option>E Major</option>
					<option>F Major</option>
					<option>F#/Gb Major</option>
					<option>G Major</option>
					<option>G#/Ab Major</option>
					<option>A Major</option>
					<option>A#/Bb Major</option>
					<option>B Major</option>
					<div class="dropdown-divider"></div>
					<option>C Minor</option>
					<option>C#/Db Minor</option>
					<option>D Minor</option>
					<option>D#/Eb Minor</option>
					<option>E Minor</option>
					<option>F Minor</option>
					<option>F#/Gb Minor</option>
					<option>G Minor</option>
					<option>G#/Ab Minor</option>
					<option>A Minor</option>
					<option>A#/Bb Minor</option>
					<option>B Minor</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid key.
                </div>
              </div>
			  <div class="col-md-7 mb-3">
                <label for="packname">Pack</label>
                <select class="custom-select d-block w-100" id="packname" name="packname" required>
                  <option value="">Choose...</option>
					<% for(var i=0; i < packs.length; i++){ %>
					<% if(packs[i].author.username == currentUser.username) { %>
						<option><%= packs[i].name %></option>
					<% } %>
					<% } %>
				  </select>
                <div class="invalid-feedback">
                  Valid pack name is required.
                </div>
              </div>
			</div>
				

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="category">Category</label>
                <select class="custom-select d-block w-100" id="category" name="category" required>
                  <option value="">Choose...</option>
                  <option>Drums</option>
				  <option>Keys</option>
				  <option>Synths</option>
				  <option>Guitar</option>
				  <option>Bass</option>
				  <option>Vocals</option>
				  <option>FX</option>
				  <option>Misc</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid category.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="instrument">Instrument</label>
                <input type="text" class="form-control" id="instrument" name="instrument" placeholder="" required>
                <div class="invalid-feedback">
                  Please provide a valid instrument.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="tag">Tags</label>
                <input type="text" class="form-control" id="tag" name="tag" placeholder="" required>
                <div class="invalid-feedback">
                  Tag required.
                </div>
              </div>
            </div>
				<h4 class="mb-3">File Upload <span><h6>
				  </h6></span></h4>
			  <div class="form-group">
				<img src="/pictures/foldericon.png" class="sampleart">
				<label for="samplefile">Sample</label>
				<input type="file" class="form-control-file" id="samplefile" name="file" onchange="return fileValidation()" required />
			  </div>
            
            <hr class="mb-4">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit Sample" id="samplesubmit">
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020- Joshua Pare</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
</main>

<script> 
        function fileValidation() { 
            var fileInput =  
                document.getElementById('samplefile'); 
              
            var filePath = fileInput.value; 
          
            // Allowing file type 
            var allowedExtensions =  
/(\.wav|\.mp3)$/i; 
              
            if (!allowedExtensions.exec(filePath)) { 
                alert('Invalid file type'); 
                fileInput.value = ''; 
                return false; 
            }  
        } 
</script> 

<!-- Footer -->
<footer class="mastfoot mt-auto">
  <h6>&copy; Joshua Pare </h6>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="../assets/dist/js/create.js"></script>
</div>
</body>
</html>